/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 24px;
}

.title{
    color: brown;
    margin-bottom: 20px;
    font-size: 30px;
}

.row{
    display: flex;
}

